<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">

	<!-- 1. 1) 모든 회원 목록 -->
	<select id="getAllMember" resultType="com.spring.dto.MemberDTO">
		select * from panya_member_table order by member_idx
	</select>

	<!--1. 2) 결제내역 -->
	<select id="getAllPayment" resultType="com.spring.dto.OrderDTO">
		select * from order_table
	</select>

	<!-- 1. 3) 배송상황 변경하기 -->
	<update id="changeDeliveryCircumstance" parameterType="com.spring.dto.OrderDTO">
		update order_table set circumstance=#{circumstance} where order_idx=#{order_idx}
	</update>

	<!-- 1. 4) 회원검색 -->
	<select id="resultSearchingMember" parameterType="com.spring.dto.MemberDTO" resultType="com.spring.dto.MemberDTO">
		select *
		from panya_member_table
		where
		<choose>
			<when test="type!=null and type.equals('member_name')">
				member_name like CONCAT('%',#{keyword},'%')
			</when>
			<when test="type!=null and type.equals('member_id')">
				member_id like CONCAT('%',#{keyword},'%')
			</when>
		</choose>
	</select>

	<!-- 1. 5) 회원 검색 후 검색되는 결과수(In 관리자 전용 페이지) -->
	<select id="numberOfResultSearchingMember" parameterType = "com.spring.dto.MemberDTO" resultType= "java.lang.Integer">
		select count(*)
		from panya_member_table
		where
		<choose>
			<when test="type!=null and type.equals('member_name')">
				member_name like CONCAT('%',#{keyword},'%')
			</when>
			<when test="type!=null and type.equals('member_id')">
				member_id like CONCAT('%',#{keyword},'%')
			</when>
		</choose>
	</select>

</mapper>