<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">

	<!-- 게시판 글 목록 가져오기(댓글 달린수 제목 옆에 붙이기) -->
	<select id="getPostList" parameterType="java.lang.Integer" resultType="com.tjoeun.spring.dto.PostDTO">
		select p.post_board_idx, p.post_idx, p.post_subject, m.member_name post_writer_name, p.post_date, p.post_read_count, 
      		(select count(*) from reply_table where post_idx = p.post_idx) as reply_cnt, p.post_file
      	from post_table p, panya_member_table m
      	where p.post_writer_idx = m.member_idx and p.post_board_idx = #{board_idx} 
      	order by p.post_idx desc 
   </select>


	<!-- 글쓰기 -->
	<insert id="addPostInfo" parameterType="com.tjoeun.spring.dto.PostDTO" useGeneratedKeys="true" keyProperty="post_idx">
		insert into post_table
		(post_subject, post_text, post_file, post_writer_idx, post_board_idx, post_date, post_read_count)
	values(#{post_subject}, #{post_text}, #{post_file}, #{post_writer_idx}, #{post_board_idx}, now(), #{post_read_count})
	</insert>
  
  
	<!--게시판 이름가져오기 -->
	<select id="getBoardName" parameterType="java.lang.Integer" resultType="java.lang.String" >
		select board_name 
		from board_table 
		where board_idx=#{board_idx}
	</select>
   
   
   <!-- 글 하나 읽기 -->
   <select id="getPostInfo" parameterType="java.lang.Integer" resultType="com.tjoeun.spring.dto.PostDTO" >
   
     select p.post_board_idx, p.post_idx, m.member_name post_writer_name, p.post_date, p.post_subject, p.post_text,
     		p.post_file, p.post_writer_idx, p.post_read_count
     from post_table p, panya_member_table m
     where p.post_writer_idx = m.member_idx and p.post_idx = #{post_idx}
   
   </select>
   
   
   
	<!-- 글 수정하기 -->
	<update id="modifyPostInfo" parameterType="com.tjoeun.spring.dto.PostDTO">
		update post_table 
set post_subject=#{post_subject}, post_text=#{post_text}, post_file=#{post_file, jdbcType=VARCHAR}
		where post_idx=#{post_idx}
   </update>
   
   
	<!-- 전체 게시글 수 가져오기 -->
	<select id="getPostCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
     
       select count(*) 
       from post_table 
       where post_board_idx = #{post_board_idx}
 
   </select>
   
   
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete 
		from post_table 
		where post_idx = #{post_idx}
	</delete>
	

	<!-- 댓글 삭제-->
	<delete id="replyDelete" parameterType="java.lang.Integer">
		delete 
		from reply_table 
		where post_idx = #{post_idx}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="viewCount" parameterType="java.lang.Integer">
	
		update post_table 
		set post_read_count = post_read_count + 1 
		where post_idx = #{post_idx}

	</update>
	
	
	<!-- 게시글 검색 -->
	<select id="selectSearchList" parameterType="com.tjoeun.spring.dto.PostDTO" resultType="com.tjoeun.spring.dto.PostDTO">
	
		select p.post_board_idx, p.post_idx, p.post_subject, p.post_text, m.member_name post_writer_name, to_char(p.post_date, 'yyyy-mm-dd') post_date, p.post_read_count, 
				(select count(*) from reply_table where post_idx = p.post_idx) as reply_cnt
		from post_table p, panya_member_table m
		where p.post_writer_idx = m.member_idx 
		and p.post_board_idx = #{post_board_idx} and 
	
		<choose>
			<when test="type!=null and type.equals('post_subject')">
				p.post_subject like CONCAT('%',#{keyword},'%')
			</when>
			<when test="type!=null and type.equals('post_text')">
			 	p.post_text like CONCAT('%',#{keyword},'%')
			</when>
			<when test="type!=null and type.equals('member_name')">
			 	member_name like CONCAT('%',#{keyword},'%')
			</when>
		</choose>
		order by p.post_idx desc
	</select>
	
	
	<!-- 검색한 게시물 수 -->
	<select id="searchResultCount" parameterType="com.tjoeun.spring.dto.PostDTO" resultType="java.lang.Integer">
	
		select count(*)
		from post_table p, panya_member_table m
		where p.post_writer_idx = m.member_idx 
		and p.post_board_idx = #{post_board_idx} and
	
		<choose>
			<when test="type!=null and type.equals('post_subject')">
				p.post_subject like CONCAT('%',#{keyword},'%')
			</when>
			<when test="type!=null and type.equals('post_text')">
				p.post_text like CONCAT('%',#{keyword},'%')
			</when>
			<when test="type!=null and type.equals('member_name')">
				member_name like CONCAT('%',#{keyword},'%')
			</when>
		</choose>
		
	</select>
	
		
</mapper>  